<h1>Users</h1>

<p><%= link_to 'Add a New User', new_user_url %></p>

<table class= "table table-condensed table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>User Discipline</th>
      <th>Email</th>
      <th>Voted On</th>
      <th>Accountability</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %> </td>
      <td><%= user.user_discipline %></td>
      <td><%= user.email %></td>
      <td><%= user.voted_on %></td>
      <td><%= user.accountable_for %></td>
  
     

    </tr>
  <% end %>
  </tbody>
</table>

