<h1>New User</h1>


<%= form_tag(users_url, method: 'post') do %>


  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>

    <div>
    <%= label_tag :user_discipline %><br />
    <select name="user_discipline">
      <option value="UX" selected>User Experience</option>
      <option value="Viz_Design">Visual Design</option>
      <option value="Front_End "> Front-End(HTML/CSS)</option>
      <option value="Back_End">Back-End (Web Dev)</option>
  </select>
  </div>

    <div>
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>

    <div>
    <%= label_tag :voted_on %><br />
    <%= text_field_tag :voted_on %>
  </div>

    <div>
    <%= label_tag :accountable_for %><br />
    <%= text_area_tag :accountable_for %>
  </div>

  
  <div>
    <%= submit_tag "Create User" %>
  </div>
<% end %>
