<h1>User #<%= @user.id %></h1>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>User discipline:</b>
  <%= @user.user_discipline %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Voted on:</b>
  <%= @user.voted_on %>
</p>

<p>
  <b>Accountable for:</b>
  <%= @user.accountable_for %>
</p>


