<h1> Welcome Starter</h1>


<table class= "table table-condensed table-bordered">

	<thead>

		<tr>
			<th>App Name</th>
			<th>Problem</th>
			<th>Solution</th>
			<th>User Stories</th>
			<th>Mock ups</th>
			<th>Layouts</th>
			<th>Resources</th>
			<th>Associations</th>
			<th>Other Considerations</th>

		</tr>


	</thead>

	<tbody>
		<% @starters.each do |starter| %>

		<tr>
			<td> <%= link_to starter.app_name, starter_url(starter) %> </td>
			<td> <%= starter.problem %> </td>
			<td> <%= starter.solution %> </td>
			<td> <%= starter.user_stories %> </td>
			<td> <%= starter.mock_ups %> </td>
			<td> <%= starter.layouts %> </td>
			<td> <%= starter.resources %> </td>
			<td> <%= starter.associations %> </td>
			<td> <%= starter.other_considerations %> </td>
			
		</tr>

		<% end %>
	</tbody>

</table>

