<h1> New Start!</h1>

	<%= form_tag(starters_url, method: 'post') do %>

	<div>

		<%= label_tag :app_name %> <br />
	<p> <%= text_area_tag :app_name, nil, placeholder: "This is where you'll name your baby." %> </p>
	</div>

	<div>

		<%= label_tag :problem %> <br />
		<%= text_field_tag :problem, nil, placeholder: "Talk about your problem" %>
	</div>

	<div>

		<%= label_tag :solution %> <br />
		<%= text_field_tag :solution, nil, placeholder: "Talk about your solution" %>
	</div>


	<div>

		<%= label_tag :user_stories %> <br />
		<%= text_area_tag :user_stories, nil, placeholder: "List your critical User Stories for MVP" %>
	</div>

	<div>

		<%= label_tag :mock_ups %> <br />
		<%= text_field_tag :mock_ups, nil, placeholder: "Fill this place with links to your mockups" %>
	</div>

	<div>

		<%= label_tag :layouts %> <br />
		<%= text_field_tag :layouts, nil, placeholder: "Fills this with links to your layouts" %>
	</div>

	<div>

		<%= label_tag :resources %> <br />
		<%= text_field_tag :resources, nil, placeholder: "Devs think of some relevant resources that need to be created" %>
	</div>

	<div>

		<%= label_tag :associations %> <br />
		<%= text_area_tag :associations, nil, placeholder: "Talk about how you'll connect those resources" %>
	</div>

	<div>

		<%= label_tag :other_considerations %> <br />
		<%= text_area_tag :other_considerations, nil, placeholder: "A place for you to think some more" %>
	</div>


	<div> <p class="btn btn-large btn-primary"> <%= submit_tag "Get Started!" %></p> </div>

	<div> <p class="btn btn-info"> <%= link_to 'Back', :back %> </p> </div>



<% end %>