<h1> The Road Thus Far </h1>
<td> <%= link_to "Fine Tune", fix_start_url(@starter) %> </td>
	<div>
	<table>
			<tr>
				<b>App Name:</b>
					<%= @starter.app_name %>

			</tr>
		</div>
		<div>
			<tr>
				<b> Problem: </b>	
					<%= @starter.problem %>
			</tr>
		</div>
		<div>
			<tr>
				<b> Solution: </b>	
					<%= @starter.solution %>
			</tr>
		</div>
	</table>
	</div>

	<table class= "table table-hover table-bordered">
	
	<div>

		<tr>
			<td>

			<b> User Stories: </b>	
				<ul>	

					<%= @starter.user_stories %>

				</ul>
			</td>
		</tr>	

	</div>

	<div>
		<tr>
			<td>

			<b> Mock Ups: </b>	
				<%= @starter.mock_ups %>
			</td>	
		
		</tr>
	</div>

	<div>

		<tr>

			<td>

			<b> Layouts: </b>	
				<%= @starter.layouts %>
			</td>	
		</tr>
	</div>

		

	<div>
		<tr>
			<td>

			<b> Resources: </b>	
				<%= @starter.resources %>
		</td>	
		

		<td>

			<b> Associations: </b>	
				<%= @starter.associations %>
		</td>
		</tr>
	</div>
		<tr>
		<td>

			<b> Other Considerations: </b>	
				<%= @starter.other_considerations %>
		</td>

		</tr>

</table>


		<td> <%= link_to "Wipe Out", starter_url(@starter), method: "delete", data: {confirm: "Do you really want to wipe out your Rappid Start?"} %> </td>