<h1> The Road Thus Far </h1>

		<td> <%= link_to "Fine Tune", fix_start_url(@starter) %> </td>

		<td> <%= link_to "Wipe Out", starter_url(@starter), method: "delete", data: {confirm: "Do you really want to wipe out your Rappid Start?"} %> </td>


		<p>
			<b>App Name:</b>
				<%= @starter.app_name %>
		</p>

		<p>

			<b> Problem: </b>	
				<%= @starter.problem %>
		</p>	

		<p>

			<b> Solution: </b>	
				<%= @starter.solution %>
		</p>	

	<div>

		<p>

			<b> User Stories: </b>	
				<%= @starter.user_stories %>
		</p>	

	</div>
		<p>

			<b> Mock Ups: </b>	
				<%= @starter.mock_ups %>
		</p>	

		<p>

			<b> Layouts: </b>	
				<%= @starter.layouts %>
		</p>	

		<p>

			<b> Resources: </b>	
				<%= @starter.resources %>
		</p>	

		<p>

			<b> Associations: </b>	
				<%= @starter.associations %>
		</p>

		<p>

			<b> Other Considerations: </b>	
				<%= @starter.other_considerations %>
		</p>
