<h1> The Road Thus Far </h1>


	<p>
		<b>App Name:</b>
			<%= @starter.app_name %>
	</p>

	<p>

		<b> Problem: </b>	
			<%= @starter.problem %>
	</p>	

	<p>

		<b> Solution: </b>	
			<%= @starter.solution %>
	</p>	

	<p>

		<b> User Stories: </b>	
			<%= @starter.user_stories %>
	</p>	


	<p>

		<b> Mock Ups: </b>	
			<%= @starter.mock_ups %>
	</p>	<p>

		<b> Layouts: </b>	
			<%= @starter.layouts %>
	</p>	<p>

		<b> Resources: </b>	
			<%= @starter.resources %>
	</p>	

	<p>

		<b> Associations: </b>	
			<%= @starter.associations %>
	</p>

	<p>

		<b> Other Considerations: </b>	
			<%= @starter.other_considerations %>
	</p>
