<h1>Vote #<%= @vote.id %></h1>

<p>
  <b>User:</b>
  <%= @vote.user_id %>
</p>

<p>
  <b>User story:</b>
  <%= @vote.user_story_id %>
</p>

<p>
  <b>Mock up:</b>
  <%= @vote.mock_up_id %>
</p>

<p>
  <b>Layout:</b>
  <%= @vote.layout_id %>
</p>


