<!DOCTYPE html>
<html>
<head>
  <title>RappidStarter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav>
		<div>
		<%= link_to "Home", starters_url %>
		<%= link_to "Get Rappid", new_start_url %>
		</div>
	</nav>
	

<%= yield %>

</body>
</html>
